//
// Colors
//
$white: #d9d9d9;
$black: #272727;
$totalblack: #000000;
$gray: #747474;
$orange: #ff652f;
$green: #14a76c;

$body-background-color: $black;
$sidebar-color: $black;
$search-background-color: $black;
$table-background-color: $totalblack;
$code-background-color: $totalblack;
$feedback-color: lighten($black, 3%);

$body-text-color: $white;
$body-heading-color: $orange;
$search-result-preview-color: $white;
$nav-child-link-color: $orange;
$link-color: $green;
$btn-primary-color: $green;
$base-button-color: $orange;

.search-input {
    color: $white;
}

.site-button {
    background-color: $green;
    color: $black;
}

//
// Borders
//
$border-color: $totalblack;

//
// Grid system
//
$nav-width: 264px;
$content-width: 950px;
